<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userdata">
          <div class="form-group">

            <label for="username">Username</label>
            <input type="text"
                   formControlName="username"
                   id="username"
                   class="form-control">
            <span class="help-block"
                  *ngIf="!signupForm.get('userdata.username').valid && signupForm.get('userdata.username').touched">
              <span *ngIf="signupForm.get('userdata.username').errors['nameIsForbidden']">This name is invalid</span>
              <span *ngIf="signupForm.get('userdata.username').errors['required']">This name is required!!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text"
                   formControlName="email"
                   id="email"
                   class="form-control">
            <span class="help-block" *ngIf="!signupForm.get('userdata.email').valid && signupForm.get('userdata.email').touched">Please enter valid email!</span>

          </div>


        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio"
                   formControlName="gender"
                   [value]="gender">{{ gender }}
          </label>


        </div>
        <div formArrayName="hobbies">
          <h3>Your  Hobbies</h3>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbycontrol of signupForm.get('hobbies').controls;let i=index">
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>
        <span class="help-block" *ngIf="!signupForm.valid && signupForm.touched">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      
      </form>
    </div>
  </div>
</div>
